@import "functions";
@import "variables";
@import "maps";
@import "mixins";
@import "utilities";

$custom-colors: (
  "darg_green": #004047,
);

$custom-margin: (
  "6": $spacer * 6,
  "7": $spacer * 7,
);

$utilities: map-merge(
  $utilities,
  (
    "s": (
      property: margin,
      class: s,
      responsive: true,
      values: map-merge($spacers, $custom-margin),
    ),
  )
);

// $utilities: map-merge(
//   $utilities,
//   (
//     "margin":
//       map-merge(
//         map-get($utilities, "margin"),
//         (
//           values:
//             map-merge(
//               map-get(map-get($utilities, "margin"), "values"),
//               (
//                 5: 400px,
//               )
//             ),
//         )
//       ),
//   )
// );

@import "bootstrap";
